$mainFont: normal 300 15px/24px Roboto, Ubuntu, Cantarell, Helvetica, sans-serif;
$headerTextClr: rgb(233, 231, 231);
$headerBcg: url(../img/header_background_v1.jpg) no-repeat top/cover;
$headerH1: normal 24px Helvetica, sans-serif;
$mainBgc: rgb(255, 255, 255);
$artBgc: #f0ecec;
$rAlign: right;
$borderClr: #5f7e8d;
$dscClr: #e90808;
$h1Clr: rgb(2, 2, 2);
$h1FntSz: 25px;
$h3Clr: rgb(3, 152, 168);
$h3FntSz: 20px;
$txtSz: 14px;
$txtLineHeight: 26px;
$txtLetterSpacing: 0em;
$btnBg: rgb(2, 172, 172);
$brdShape: 1px solid $borderClr;
$formTxtArea: rgb(255, 255, 255);