$mainFont: normal 18px/26px "Palatino Linotype", "Book Antiqua", Palatino, serif;;
$headerTextClr: #fc521f;
$headerBcg: url(../img/header_background_v2.jpg) no-repeat top/cover;
$headerH1: bold;
$mainBgc: #f0ebeb;
$artBgc: rgb(253, 251, 251);
$rAlign: right;
$borderClr: #cfd8dc;
$dscClr: #bfbfcf;
$h1Clr: #797979;
$h1FntSz: 25px;
$h3Clr: #617e8d;
$h3FntSz: 21px;
$txtSz: 17px;
$txtLineHeight: 26px;
$txtLetterSpacing: 0.027em;
$btnBg: #0401ac;
$brdShape: 1px solid $borderClr;
$formTxtArea: $mainBgc;